<div class="dashboard">
<div class="dashboard-navbar">{{> nav}}</div>
<div class="dashboard-tweetbox">
<div class="header-tweetbox">
    <h1>Accueil</h1>
</div>
<div class="tweet-container">
    <div class="tweet-body-container">
        <div class="tweet-body-img"><img src="{{avatar}}" class="avatar-img" alt=""></div>
        <div class="tweet-form">
            <form action="/dashboard/{{username}}" method="POST" class="tweet form">
            <label for="tweet"></label>
            <textarea name="tweet" id="tweet-message" cols="100" placeholder="Quoi de neuf ?"></textarea>
            <div class="tweet-buttons">
                <div class="tweet-icons">
                    <a href=""><img src="/images/dash_navbar/icons_tweetbox/svg1.svg" class="post-picture icon" alt=""></a>
                    <a href=""><img src="/images/dash_navbar/icons_tweetbox/svg2.svg" class="post-gif icon" alt=""></a>
                    <a href=""><img src="/images/dash_navbar/icons_tweetbox/svg3.svg" class="post-poll icon" alt=""></a>
                    <a href=""><img src="/images/dash_navbar/icons_tweetbox/svg4.svg" class="post-emoji icon" alt=""></a>
                    <a href=""><img src="/images/dash_navbar/icons_tweetbox/svg5.svg" class="post-planner icon" alt=""></a>
                </div>
                <button type="submit" class="submit-button">Tweeter</button>
            </div>
        </form>
        </div>
    </div>
</div>
<div class="user-posts-container">
    {{#each tweets}}
    <div class="post-box">
        <a class="avatar" href="tweet/{{row.id}}">
            <img src="{{row.avatar}}" class="avatar-img" alt="photo de profil">
        </a>
        <div class="text-content">
            <div class="metadata">
                <div class="author-name">
                    {{row.firstname}} {{row.lastname}}
                </div>
                <div class="author-username">
                    @{{row.username}} ·
                </div>
                <div class="date">
                    {{moment row.creation "fromNow"}}
                </div>
            </div>
            <div class="post-content">
                <p class="post-text">{{row.text}}</p>
            </div>
        </div>
    </div>
    {{/each}}
</div>
</div>
<div class="dashboard-search">
    <div class="box-suggestions">
            <div class="heading heading-suggestions">
                <h1>Suggestions</h1>
            </div>
            <div class="user">
                
            </div>
        </div>
    </div>
</div>